[submodule "ietf-jose-cookbook"]
	path = src/THNETII.Security.JOSE/ietf-jose-cookbook
	url = https://github.com/ietf-jose/cookbook.git
[submodule "dotnet-common"]
	path = dotnet-common
	url = https://github.com/thnetii/dotnet-common.git
[submodule "rfc"]
	path = rfc
	url = https://github.com/thnetii/jose-rfc.git
